---
import '../../styles/global.css';
import WhatsAppButton from '../WhatsAppButton.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://res.cloudinary.com/dzp3psldw/image/upload/abf7033a-6dbe-4526-bf8c-619f04547e00_preview_rev_1_hrwgie" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&family=Archivo+Black&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <WhatsAppButton />
  </body>
</html>
