<nav>
  <div class="wrapper nav-inner">
    <a href="/" class="logo">NAVI URBAN</a>
    <div class="links">
      <a href="/#promociones">Promociones</a>
      <a href="/#catalogo">Catalogo</a>
      <a href="/#pdf">PDF</a>
    </div>
  </div>
</nav>
