<nav>
  <div class="wrapper nav-inner">
    <a href="/" class="logo">
      <img
        src="https://res.cloudinary.com/dzp3psldw/image/upload/copy_of_chatgpt_image_16_abr_2026_19_43_47_yzrb3g_a1405e"
        alt="NAVI URBAN Logo"
        width="100"
        height="100"
      />
    </a>
    <div class="links">
      <a href="/#promociones">Promociones</a>
      <a href="/#catalogo">Catalogo</a>
    </div>
  </div>
</nav>
